/************************************************

Color box

a styleguide specific component

************************************************/

@import "../../variables";

.color-box {
    overflow: hidden;
    color: #fff;
    transition: border-color 0.5s;
    height: 200px;
}

.color-box:hover {
    border-color: darken($color-brand, 20%);
}

.color-box:hover .color-box__label {
    background-color: darken($color-brand, 20%);
}

.color-box__label {
    font-size: 12px;
    text-align: left;
    width: 100%;
    background-color: #343434;
    transition: background-color 0.5s;
    padding: 0.5em 1em;
}

.color-box__detail {
    font-size: 10px;
    text-align: left;
    margin-top: 2px;
}

.color--brand {
    background-color: $color-brand;
}

.color--brand-dark {
    background-color: $color-brand-dark;
}

.color--brand-red {
    background-color: $color-brand-red;
}

.color--brand-yellow {
    background-color: $color-brand-yellow;
}

.color--brand-dark-yellow {
    background-color: $color-brand-dark-yellow;
}

.color--brand-dark-gray {
    background-color: $color-brand-dark-gray;
}

.color--dark-blue {
    background-color: $color-dark-blue;
}

.color--light-gray {
    background-color: $color-light-gray;
}

.color--dark-gray {
    background-color: $color-dark-gray;
}