/***********************************************************

	Component:
		Example Box

	Purpose:
		A box for holding code and the rendered functioning example of that code

	Usage:
	<div class="example-box">
		<div class="example-box__code">
			<pre class="code">
				My html entitized code
			</pre>
		</div>

		<div class="example-box__example">

			working version goes here

		</div>
	</div>


************************************************************/
@import "../../variables";

.example-box {
	position: relative;
	border: 2px solid $color-brand;
	overflow: auto;
	overflow-x: hidden;
	margin-bottom: $margin--vertical;
}

.example-box--vertical .example-box__code {
	clear: right;
	float: none;
	border-bottom: 2px solid $color-brand;
	border-right: 0;
	margin: 0;
}

.example-box--vertical .example-box__example {
	border-left-width: 0;
}

.example-box__code {
	position: relative;
	margin-right: 0;
	float: left;
	border-right: 2px solid $color-brand;
	padding: 36px 12px 12px 12px;
	overflow-x: hidden;
	max-width: 100%;
	box-sizing: border-box;
	margin-right: -2px;
	
	
	&:after {
		content: 'Code';
		position: absolute;
		top: 0;
		left: 0;

		background-color: $color-brand;
		color: #fff;

		padding: 5px;
		border: 2px solid $color-brand;
		border-left-width: 0;
		border-top-width: 0;
	}
}

.example-box__example {
	position: relative;
	border-left: 0;
	margin-left: 0;
	box-sizing: border-box;
	padding: 40px 12px 12px 12px;
	overflow: auto;

	border-left: 2px solid $color-brand;

	&:after {
		content: 'Result';
		position: absolute;
		top: 0;
		left: 0;

		background-color: $color-brand;
		color: #fff;

		padding: 5px;
		border: 2px solid $color-brand;
		border-left-width: 0;
		border-top-width: 0;
	}
}
