/********************************************************************************************

	Styleguide Component:
		Icon Block

		<div class="icon-block">
			<div class="icon-block__class">icon class</div>
			<i class="some-icon"/>
		</div>

**********************************************************************************************/

@import "../../variables";

.icon-block {
	i {
		box-sizing: border-box;
		text-align: center;
		width: 100%;
		color: $color-brand-dark-gray;
		background-color: #fff;
		margin: 8px 0;
	}

	i:before {
		width: 100%;
		font-size: 25px;
		text-align: center;

	}
}

.icon-block__class {
	background-color: $color-brand;
	width: 100%;
	color: #fff;
	padding: 8px 5px;
	height: 100%;
}