<h2 class="styleguide__header">Block Element Modifier</h2>

<h4>What is BEM?</h4>
<div class="span--8">
    BEM stands for Block Element Modifier and is a convention for naming and organizing stylesheets.
</div>