<h2 class="styleguide__header">Buttons</h3>

<h3>Primary</h3>
<a class="button">Click me</a>

<a class="button button--download">Click me</a>

<a class="button" rel="external">Click me</a>


<h3>Secondary</h3>

<a class="button button--secondary">Click me</a>

<a class="button button--download button--secondary">Click me</a>

<a class="button button--secondary" rel="external">Click me</a>


<h3>Disabled</h3>

<a class="button button--disabled">Click me</a>

<h3>Compact</h3>

<a class="button button--compact button--secondary">Click me</a>

<a class="button button--compact button--download button--secondary">Click me</a>

<a class="button button--compact button--secondary" rel="external">Click me</a>


<h3>Stacked</h3>

<div class="row">
	<div class="span--4">

		<div class="header-box header">
		  <h2 class="header-box__header">Transgenic Lines</h2>
		  <div class="header-box__content header-box__content--no-pad"> 

				<a class="button button--stack">Cux2-CreERT2;Camk2a-tTA;Ai93(TITL- GCaMP6f)</a>

				<a class="button button--stack">Rorb-IRES2-Cre;Camk2a-tTA;Ai93(TITL- GCaMP6f)</a>

				<a class="button button--stack button--secondary button--disabled" rel="external">Scnn1a-Tg3-Cre;Camk2a-tTA;Ai93(TITL- GCaMP6f)</a>

				<a class="button button--stack">Nr5a1-Cre;Camk2a-tTA;Ai93(TITL- GCaMP6f)</a>

				<a class="button button--stack">Rbp4-Cre_KL100;Camk2a-tTA;Ai93(TITL- GCaMP6f)</a>

				<a class="button button--stack">Emx1-IRES-Cre;Camk2a-tTA;Ai93(TITL- GCaMP6f)</a>

				<a class="button button--stack button--secondary button--download">Download White Paper</a>

		  </div>
		</div>
	</div>
</div>