<h2 class="styleguide__header">Colors</h2>

<h3>Used Frequently</h3>
<div class="row">

	<div class="color-box color--brand span--2">
	    <div class="color-box__label"> $color-brand
	        <div class="color-box__detail">#0779be</div>
	    </div>
	</div>

	<div class="color-box color--dark-blue span--2">
	    <div class="color-box__label"> $color-dark-blue 
	        <div class="color-box__detail">#163e65</div>
	    </div>
	</div>

	<div class="color-box color--light-gray span--2">
	    <div class="color-box__label"> $color-light-gray
	        <div class="color-box__detail">#6d7070</div>
	    </div>
	</div>

	<div class="color-box color--dark-gray span--2">
	    <div class="color-box__label"> $color-dark-gray 
	        <div class="color-box__detail">#a8a8a8</div>
	    </div>
</div>

</div>


<h3>Used Occasionally</h3>

