<h2 class="styleguide__header">Fluid Grid</h2>
<div class="row">
    <div class="span--6">
        
        <h4>Usage</h4>
        <p>
            You can place content using <span class="code">.span--{cols}</span> and <span class="code">.offset--{cols}</span> where <span class="code">{cols}</span> is some number of columns up to 12.
        </p>
        <p>
            This grid is also completely nestable, so feel free to put a <span class="code">.span--5</span> inside a <span class="code">.span--8</span> if needed.
        </p>

        <h4>Responsiveness</h4>
        <p>
            This is not a responsive fluid grid and does not support break points for different screen sizes, although there is room for this addition should it be needed in the future.
        </p>
    </div>
</div>
<div class="span--8">
    <div class="row">
        <div class="span--12 grid-test">span--12</div>
    </div>
    <div class="row">
        <div class="span--1 grid-test">Span--1</div>
        <div class="span--1 grid-test">Span--1</div>
        <div class="span--1 grid-test">Span--1</div>
        <div class="span--1 grid-test">Span--1</div>
        <div class="span--1 grid-test">Span--1</div>
        <div class="span--1 grid-test">Span--1</div>
        <div class="span--1 grid-test">Span--1</div>
        <div class="span--1 grid-test">Span--1</div>
        <div class="span--1 grid-test">Span--1</div>
        <div class="span--1 grid-test">Span--1</div>
        <div class="span--1 grid-test">Span--1</div>
        <div class="span--1 grid-test">Span--1</div>
    </div>

    <div class="row">
        <div class="span--6 grid-test">span--6</div>
        <div class="span--3 grid-test">span--3</div>
        <div class="span--3 grid-test">span--3</div> 
    </div>

    <div class="row">
        <div class="span--2 grid-test">span--3</div>
        <div class="span--2 grid-test">span--3</div> 
        <div class="offset--4 span--4 grid-test">offset--4 span--4</div>
    </div>

    <div class="row">
        <div class="offset--2 span--2 grid-test"> offset--2 span--3</div>
        <div class="span--8 grid-test">span--3</div> 
    </div>

    <div class="row">
        <div class="offset--2 span--8 grid-test"> offset--2 span--8</div>
    </div>
</div>
