
<h2 class="styleguide__header">Allen Institute Style guide</h1>

<h3>Welcome to the AI Styleguide!</h3>
<p></p>

<h3>ToDo</h3>
<ul class="">
	<li>[x] Buttons
		<ul>
			<li>[ ] Examples</li>
			<li>[ ] Annotations (hover and text shows)</li>
		</ul>
	</li>
	<li>[x] Modal
		<ul>
			<li>[ ] Examples</li>
		</ul>
	</li>
	<li>[ ] Layouts</li>
	<li>[ ] Toggle Utility</li>
	<li>[ ] Form Styles</li>
	<li>[ ] Check Boxes/Radio Buttons</li>
	<li>[ ] Cell Type Stat Box</li>
	<li>[ ] List Styles</li>
</ul>
