
<h2 class="styleguide__header">Allen Institute Style guide</h1>

<h3>Welcome to the AI Styleguide!</h3>
<p></p>

<h3>Adding new content</h3>
<p></p>

<h3>Things to avoid</h3>
<ul>
	<li>thing one</li>
	<li>thing two</li>
</ul>
