
<h2 class="styleguide__header">Allen Institute Style guide</h1>

<h3>Welcome to the AI Styleguide!</h3>
<p></p>

<h3>ToDo</h3>
<ul class="">
	<li>
		[ ] Document Component Selectors
		<ul>
			<li>[ ] data-trigger</li>
			<li>[ ] data-component</li>
			<li>[ ] data-bind </li>
		</ul>
	</li>
	<li>[x] Buttons
		<ul>
			<li>[x] Examples</li>
			<li>[ ] Annotations (hover and text shows)</li>
		</ul>
	</li>
	<li>[x] Modal
		<ul>
			<li>[ ] Examples</li>
		</ul>
	</li>
	<li>[ ] Layouts</li>
	<li>[ ] Toggle Utility</li>
	<li>[x] Form Styles</li>
	<li>[x] Check Boxes/Radio Buttons</li>
	<li>[ ] Cell Type Stat Box</li>
	<li>[ ] List Styles</li>
</ul>
