<h2 class="styleguide__header">Input Elements</h2>

<div class="row">
	<div class="span--4">
		<h3>Check Boxes</h3>
		<input id="ch-2" type="checkbox">
		<label for="ch-2" class="checkbox checkbox--stacked">Pen</label>

		<input id="ch-1" type="checkbox">
		<label for="ch-1" class="checkbox checkbox--stacked">Apple</label>

		<input id="ch-3" type="checkbox">
		<label for="ch-3" class="checkbox checkbox--stacked">Pineapple</label>

		<input id="ch-4" type="checkbox">
		<label for="ch-4" class="checkbox checkbox--stacked">Pineapple Pen</label>
	</div>

	<div class="span--4">
		<h3>Radio Buttons</h3>
		<input id="r-1" name="1" type="radio">
		<label for="r-1" class="radio radio--stacked">Enterprise D</label>

		<input id="r-2" name="1" type="radio">
		<label for="r-2" class="radio radio--stacked">Voyager</label>

		<input id="r-3" name="1" type="radio">
		<label for="r-3" class="radio radio--stacked">Klingon Bird of Prey</label>

		<input id="r-4" name="1" type="radio">
		<label for="r-4" class="radio radio--stacked">Romulan War Bird</label>
	</div>

	<div class="span--4 break">
		<h3>Input Fields</h3>
		
		<label>
			Standard Input
			<input type="text" value="Standard Text">
		</label>

		<label class="text--validating">
			Favorite Captian
			<input type="text" value="Kirk">
		</label>
		
		<label class="text--valid">
			Favorite Doctor
			<input type="text" value="David Tenant">
		</label>

		<label class="text--invalid">
			Favorite Food
			<input type="text" value="Kale">
		</label>

	</div>

	<div class="span--4">
		<h3>Toggle</h3>
		
		<div>
			<input id="toggle-0" type="checkbox">
			<label for="toggle-0" class="toggle-input">I love toggles</label>
		</div>

		<div>
			<input id="toggle-1" type="checkbox">
			<label for="toggle-1" class="toggle-input">I love toggles</label>
		</div>
		
		<div>
			<input id="toggle-2" type="checkbox">
			<label for="toggle-2" class="toggle-input toggle--right">I love right side toggles</label>
		</div>
	</div>

	<div class="span--4 break">
		<h3>Input Fields</h3>
		<label>
			Favorite food
			<textarea></textarea>
		</label>
	</div>


</div>