<h2 class="styleguide__header">Modal</h2>

<a class="button" href="#my-content" data-trigger="open-modal" data-options="title:Test Modal 1">Open Modal 1</a>
<a class="button" href="#my-content-1" data-trigger="open-modal" data-options="title:<i class='fa fa-hand-spock-o'></i>,width:wide,padding:no-pad">Open Modal 2</a>

<div class="modal-content">
	<div id="my-content">
		<h3>Modal content 1</h3>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates odio sapiente facere, veritatis rem ad vero voluptatum iure, dicta, perferendis reiciendis sit fuga minus accusamus aperiam. Magni veniam incidunt aliquam.
		</p>

		<a href="#" data-trigger="close-modal" class="button">Done</a>
	</div>

	<div id="my-content-1">
		<img src="http://placekitten.com/600/200" alt="trek">
	</div>
</div>