<h2 class="styleguide__header">Tables</h2>

<div class="row">
	<div class="span--12">

		<table class="table table-block">
			<tr>
				<th class="w--5 table-block__header">
					<input id="check-all" type="checkbox">
					<label for="check-all" class="checkbox"></label>
				</th>
				<th class="table-block__header table-block__header--sorted-asc">
					Fold Change
				</th>
				<th class="table-block__header table-block__header--sorted-desc table-block__header--sortable">
					Experiment
				</th>
				<th class="table-block__header">
					Gene Symbol
				</th>
				<th class="table-block__header w--30">
					Gene Name
				</th>
				<th class="table-block__header">
					Probe Name
				</th>
				<th class="table-block__header">
					Orientation
				</th>
				<th class="table-block__header">
					Plane
				</th>
				<th class="table-block__header">
					Expression Summary
				</th>
			</th>
			<tr class="table-block__row">
				<td class="table-block__cell">
					<input id="7895465" type="checkbox">
					<label for="7895465" class="checkbox"></label>
				</td>
				<td class="table-block__cell">
					9.141
				</td>
				<td class="table-block__cell">
					7895465
				</td>
				<td class="table-block__cell">
					Scn4b
				</td>
				<td class="table-block__cell">
					sodium channel, type IV, beta
				</td>
				<td class="table-block__cell">
					RP_050913_01_D06
				</td>
				<td class="table-block__cell">
					Antisense
				</td>
				<td class="table-block__cell">
					coronal
				</td>
				<td class="table-block__cell">
					<div class="graphlette" style="float:left; margin-left: 3px;width:9.25px;height:10.435040680896869px;background-color:#70FF71"></div>
					<div class="graphlette" style="float:left; margin-left: 3px;width:9.25px;height:6.176472107519655px;background-color:#9AD2BD"></div>
					<div class="graphlette" style="float:left; margin-left: 3px;width:9.25px;height:5.132190516446577px;background-color:#7ED04B"></div>
					<div class="graphlette" style="float:left; margin-left: 3px;width:9.25px;height:3.938846298295677px;background-color:#8ADA87"></div>
					<div class="graphlette" style="float:left; margin-left: 3px;width:9.25px;height:0.8819175406446124px;background-color:#98D6F9"></div>
					<div class="graphlette" style="float:left; margin-left: 3px;width:9.25px;height:7.321653582750173px;background-color:#8599CC"></div>
					<div class="graphlette" style="float:left; margin-left: 3px;width:9.25px;height:9.028931941123535px;background-color:#FF7080"></div>
					<div class="graphlette" style="float:left; margin-left: 3px;width:9.25px;height:4.857065421772569px;background-color:#E64438"></div>
					<div class="graphlette" style="float:left; margin-left: 3px;width:9.25px;height:10.646290283978704px;background-color:#FF64FF"></div>
					<div class="graphlette" style="float:left; margin-left: 3px;width:9.25px;height:7.971587053404116px;background-color:#FF9B88"></div>
					<div class="graphlette" style="float:left; margin-left: 3px;width:9.25px;height:10.100352464014588px;background-color:#FF9BCD"></div>
					<div class="graphlette" style="float:left; margin-left: 3px;width:9.25px;height:3.7056938759905336px;background-color:#F0F080"></div>
			</tr>
			<tr class="table-block__row">
				<td class="table-block__cell">
					<input id="795465" type="checkbox">
					<label for="795465" class="checkbox"></label>
				</td>
				<td class="table-block__cell">
					9.141
				</td>
				<td class="table-block__cell">
					7895465
				</td>
				<td class="table-block__cell">
					Scn4b
				</td>
				<td class="table-block__cell">
					sodium channel, type IV, beta
				</td>
				<td class="table-block__cell">
					RP_050913_01_D06
				</td>
				<td class="table-block__cell">
					Antisense
				</td>
				<td class="table-block__cell">
					coronal
				</td>
				<td class="table-block__cell">
					<div class="graphlette" style="float:left; margin-left: 3px;width:9.25px;height:10.435040680896869px;background-color:#70FF71"></div>
					<div class="graphlette" style="float:left; margin-left: 3px;width:9.25px;height:6.176472107519655px;background-color:#9AD2BD"></div>
					<div class="graphlette" style="float:left; margin-left: 3px;width:9.25px;height:5.132190516446577px;background-color:#7ED04B"></div>
					<div class="graphlette" style="float:left; margin-left: 3px;width:9.25px;height:3.938846298295677px;background-color:#8ADA87"></div>
					<div class="graphlette" style="float:left; margin-left: 3px;width:9.25px;height:0.8819175406446124px;background-color:#98D6F9"></div>
					<div class="graphlette" style="float:left; margin-left: 3px;width:9.25px;height:7.321653582750173px;background-color:#8599CC"></div>
					<div class="graphlette" style="float:left; margin-left: 3px;width:9.25px;height:9.028931941123535px;background-color:#FF7080"></div>
					<div class="graphlette" style="float:left; margin-left: 3px;width:9.25px;height:4.857065421772569px;background-color:#E64438"></div>
					<div class="graphlette" style="float:left; margin-left: 3px;width:9.25px;height:10.646290283978704px;background-color:#FF64FF"></div>
					<div class="graphlette" style="float:left; margin-left: 3px;width:9.25px;height:7.971587053404116px;background-color:#FF9B88"></div>
					<div class="graphlette" style="float:left; margin-left: 3px;width:9.25px;height:10.100352464014588px;background-color:#FF9BCD"></div>
					<div class="graphlette" style="float:left; margin-left: 3px;width:9.25px;height:3.7056938759905336px;background-color:#F0F080"></div>
			</tr>
			<tr class="table-block__row">
				<td class="table-block__cell">
					<input id="785465" type="checkbox">
					<label for="785465" class="checkbox"></label>
				</td>
				<td class="table-block__cell">
					9.141
				</td>
				<td class="table-block__cell">
					7895465
				</td>
				<td class="table-block__cell">
					Scn4b
				</td>
				<td class="table-block__cell">
					potassium voltage-gated channel, shaker-related subfamily, beta member 3
				</td>
				<td class="table-block__cell">
					RP_050913_01_D06
				</td>
				<td class="table-block__cell">
					Antisense
				</td>
				<td class="table-block__cell">
					coronal
				</td>
				<td class="table-block__cell">
					<div class="graphlette" style="float:left; margin-left: 3px;width:9.25px;height:10.435040680896869px;background-color:#70FF71"></div>
					<div class="graphlette" style="float:left; margin-left: 3px;width:9.25px;height:6.176472107519655px;background-color:#9AD2BD"></div>
					<div class="graphlette" style="float:left; margin-left: 3px;width:9.25px;height:5.132190516446577px;background-color:#7ED04B"></div>
					<div class="graphlette" style="float:left; margin-left: 3px;width:9.25px;height:3.938846298295677px;background-color:#8ADA87"></div>
					<div class="graphlette" style="float:left; margin-left: 3px;width:9.25px;height:0.8819175406446124px;background-color:#98D6F9"></div>
					<div class="graphlette" style="float:left; margin-left: 3px;width:9.25px;height:7.321653582750173px;background-color:#8599CC"></div>
					<div class="graphlette" style="float:left; margin-left: 3px;width:9.25px;height:9.028931941123535px;background-color:#FF7080"></div>
					<div class="graphlette" style="float:left; margin-left: 3px;width:9.25px;height:4.857065421772569px;background-color:#E64438"></div>
					<div class="graphlette" style="float:left; margin-left: 3px;width:9.25px;height:10.646290283978704px;background-color:#FF64FF"></div>
					<div class="graphlette" style="float:left; margin-left: 3px;width:9.25px;height:7.971587053404116px;background-color:#FF9B88"></div>
					<div class="graphlette" style="float:left; margin-left: 3px;width:9.25px;height:10.100352464014588px;background-color:#FF9BCD"></div>
					<div class="graphlette" style="float:left; margin-left: 3px;width:9.25px;height:3.7056938759905336px;background-color:#F0F080"></div>
			</tr>
			<tr class="table-block__row">
				<td class="table-block__cell">
					<input id="789545" type="checkbox">
					<label for="789545" class="checkbox"></label>
				</td>
				<td class="table-block__cell">
					9.141
				</td>
				<td class="table-block__cell">
					7895465
				</td>
				<td class="table-block__cell">
					Scn4b
				</td>
				<td class="table-block__cell">
					sodium channel, type IV, beta
				</td>
				<td class="table-block__cell">
					RP_050913_01_D06
				</td>
				<td class="table-block__cell">
					Antisense
				</td>
				<td class="table-block__cell">
					coronal
				</td>
				<td class="table-block__cell">
					<div class="graphlette" style="float:left; margin-left: 3px;width:9.25px;height:10.435040680896869px;background-color:#70FF71"></div>
					<div class="graphlette" style="float:left; margin-left: 3px;width:9.25px;height:6.176472107519655px;background-color:#9AD2BD"></div>
					<div class="graphlette" style="float:left; margin-left: 3px;width:9.25px;height:5.132190516446577px;background-color:#7ED04B"></div>
					<div class="graphlette" style="float:left; margin-left: 3px;width:9.25px;height:3.938846298295677px;background-color:#8ADA87"></div>
					<div class="graphlette" style="float:left; margin-left: 3px;width:9.25px;height:0.8819175406446124px;background-color:#98D6F9"></div>
					<div class="graphlette" style="float:left; margin-left: 3px;width:9.25px;height:7.321653582750173px;background-color:#8599CC"></div>
					<div class="graphlette" style="float:left; margin-left: 3px;width:9.25px;height:9.028931941123535px;background-color:#FF7080"></div>
					<div class="graphlette" style="float:left; margin-left: 3px;width:9.25px;height:4.857065421772569px;background-color:#E64438"></div>
					<div class="graphlette" style="float:left; margin-left: 3px;width:9.25px;height:10.646290283978704px;background-color:#FF64FF"></div>
					<div class="graphlette" style="float:left; margin-left: 3px;width:9.25px;height:7.971587053404116px;background-color:#FF9B88"></div>
					<div class="graphlette" style="float:left; margin-left: 3px;width:9.25px;height:10.100352464014588px;background-color:#FF9BCD"></div>
					<div class="graphlette" style="float:left; margin-left: 3px;width:9.25px;height:3.7056938759905336px;background-color:#F0F080"></div>
			</tr>
		</table>
		<div class="pagination center">
			<a class="button fa fa-chevron-left button--disabled"></a>
			<a class="button pagination__current">1</a>
			<a class="button">2</a>
			<a class="button">3</a>
			<a class="button">4</a>
			<a class="button">5</a>
			<a class="button fa fa-chevron-right"></a>
		</div>
	</div>
</div>
<div class="row">
	<div class="span--12">
		<div class="row">
	<div class="span--8">

		<table class="table table-block">
			<tr>
				<th class="w--5 table-block__header">
					<input id="check-all-2" type="checkbox">
					<label for="check-all-2" class="checkbox"></label>
				</th>
				<th class="table-block__header table-block__header--sorted-asc w--20">
					Fold Change
				</th>
				<th class="table-block__header table-block__header--sorted-desc table-block__header--sortable w--20">
					Gene Symbol
				</th>
				<th class="table-block__header">
					Gene Name
				</th>
				<th class="table-block__header w--10">
					Seed Location
				</th>
			</th>
			<tr class="table-block__row">
				<td class="table-block__cell">
					<input id="79546" type="checkbox">
					<label for="79546" class="checkbox"></label>
				</td>
				<td class="table-block__cell">
					9.141
				</td>
				<td class="table-block__cell">
					Scn4b
				</td>
				<td class="table-block__cell">
					
					pleckstrin homology domain containing, family G (with RhoGef domain) member 1
				</td>
				<td class="table-block__cell">
					<img src="http://mouse.brain-map.org/cgi-bin/imageservice?path=/external/aibssan/production9/Plekhg1_05-2622_20990/zoomify/primary/0306091051/Plekhg1_261_0306091051_A.aff&downsample=5&mime=2&left=3021&top=2122&width=128&height=128" alt="">
				</td>
			</tr>
			<tr class="table-block__row">
				<td class="table-block__cell">
					<input id="79545" type="checkbox">
					<label for="79545" class="checkbox"></label>
				</td>
				<td class="table-block__cell">
					9.141
				</td>
				<td class="table-block__cell">
					Scn4b
				</td>
				<td class="table-block__cell">
					leucine-rich repeats and transmembrane domains 2
				</td>
				<td class="table-block__cell">
					<img src="http://mouse.brain-map.org/cgi-bin/imageservice?path=/external/aibssan/production9/Plekhg1_05-2622_20990/zoomify/primary/0306091051/Plekhg1_261_0306091051_A.aff&downsample=5&mime=2&left=3021&top=2122&width=128&height=128" alt="">
				</td>
			</tr>
			<tr class="table-block__row">
				<td class="table-block__cell">
					<input id="79465" type="checkbox">
					<label for="79465" class="checkbox"></label>
				</td>
				<td class="table-block__cell">
					9.141
				</td>
				<td class="table-block__cell">
					Scn4b
				</td>
				<td class="table-block__cell">
					protein tyrosine phosphatase, non-receptor type 4
				</td>
				<td class="table-block__cell">
					<img src="http://mouse.brain-map.org/cgi-bin/imageservice?path=/external/aibssan/production9/Plekhg1_05-2622_20990/zoomify/primary/0306091051/Plekhg1_261_0306091051_A.aff&downsample=5&mime=2&left=3021&top=2122&width=128&height=128" alt="">
				</td>
			</tr>
		</table>
	</div>
</div>
