<h2 class="styleguide__header">Tabs</h2>

<div data-component="tab-group" class="tab-group">
	
	<div class="tab-group__tabs">	
		<a href="#tab-1" class="tab-group__tab tab-group__tab--active">Tab 1</a>
		<a href="#tab-2" class="tab-group__tab">Tab 2</a>
		<a href="#tab-3" class="tab-group__tab">Tab with a long name like Transgenic Characteristics</a>
	</div>

	<div id="tab-1" class="tab-group__content tab-group__content--active">
		<h4>Tab 1 Content</h4>
		
	</div>

	<div id="tab-2" class="tab-group__content">
		<h4>Tab 2 Content</h4>
		
	</div>

	<div id="tab-3" class="tab-group__content">
		<h4>Tab with a long name like Transgenic Characteristics</h4>
		
	</div>
</div>