<h2 class="styleguide__header">Toggle Box</h2>

<h4>Standard Toggle Box</h4>
<div>
	<span class="code">[component="toggle-box"]</span>
	<p>
		Standard implementation, allows for any number of toggles to be open.
	</p>
	<a href="#standard"> Standard Example</a>
</div>

<h4>Single Select Toggle Box</h4>
<div>
	<span class="code">[component="toggle-box-single"]</span>
	<p>
		This allows only one toggle in the component to be open at a time. <br/>
	</p>

	<a href="#single"> Single Box Example </a>
</div>

<h4 id="standard">Standard Example</h4>
<div class="example-box">
	<div class="example-box__code">
		<pre class="code">

&lt;div class=&quot;toggle-box&quot; data-component=&quot;toggle-box&quot;&gt;
	&lt;div class=&quot;toggle-box__toggle&quot;&gt; Toggle Box 1&lt;/div&gt;
	&lt;div class=&quot;toggle-box__content&quot;&gt;
		Content Piece 1
	&lt;/div&gt;

	&lt;div class=&quot;toggle-box__toggle&quot;&gt; Toggle Box 2 &lt;/div&gt;
	&lt;div class=&quot;toggle-box__content&quot;&gt;
		Content Piece 2
	&lt;/div&gt;
&lt;/div&gt;
		</pre>
	</div>

	<div class="example-box__example">

		<div class="toggle-box" data-component="toggle-box">
			<div class="toggle-box__toggle"> Toggle Box 1</div>
			<div class="toggle-box__content">
				Content Piece 1
			</div>

			<div class="toggle-box__toggle"> Toggle Box 2 </div>
			<div class="toggle-box__content">
				Content Piece 2
			</div>
		</div>

	</div>
</div>

<h4 id="single" >Single Example</h4>
<div class="example-box">
	<div class="example-box__code">
		<pre class="code">
			
&lt;div class=&quot;toggle-box&quot; data-component=&quot;toggle-box-single&quot;&gt;
	&lt;div class=&quot;toggle-box__toggle&quot;&gt; Toggle Box 1&lt;/div&gt;
	&lt;div class=&quot;toggle-box__content&quot;&gt;
		Content Piece 1
	&lt;/div&gt;

	&lt;div class=&quot;toggle-box__toggle&quot;&gt; Toggle Box 2 &lt;/div&gt;
	&lt;div class=&quot;toggle-box__content&quot;&gt;
		Content Piece 2
	&lt;/div&gt;

	&lt;div class=&quot;toggle-box__toggle&quot;&gt; Toggle Box 3 &lt;/div&gt;
	&lt;div class=&quot;toggle-box__content&quot;&gt;
		Content Piece 3
	&lt;/div&gt;

	&lt;div class=&quot;toggle-box__toggle&quot;&gt; Toggle Box 4 &lt;/div&gt;
	&lt;div class=&quot;toggle-box__content&quot;&gt;
		Content Piece 4
	&lt;/div&gt;
&lt;/div&gt;
		</pre>
	</div>

	<div class="example-box__example">

		<div class="toggle-box" data-component="toggle-box-single">
			<div class="toggle-box__toggle"> Toggle Box 1</div>
			<div class="toggle-box__content">
				Content Piece 1
			</div>

			<div class="toggle-box__toggle"> Toggle Box 2 </div>
			<div class="toggle-box__content">
				Content Piece 2
			</div>

			<div class="toggle-box__toggle"> Toggle Box 3 </div>
			<div class="toggle-box__content">
				Content Piece 3
			</div>

			<div class="toggle-box__toggle"> Toggle Box 4 </div>
			<div class="toggle-box__content">
				Content Piece 4
			</div>
		</div>

	</div>
</div>

