<h2 class="styleguide__header">Typography</h2>

<div class="span--12">
	<h1>Header 1</h1>
	<h2>Header 2</h2>
	<h3>Header 3</h3>
	<h4>Header 4</h4>
	<h5>Header 5</h5>
	<h6>Header 6</h6>
</div>

<div class="span--3">
	<h3> &lt;pre class="code" &gt; </h3>
	<pre class="code">
&lt;!-- Some comment --&gt;
&lt;pre class="code" &gt;
	<3 recursion
&lt;/pre&gt;
	</pre>
</div>

<div class="span--4 break">
	<h3> &lt;p&gt; </h3>
	<p>Lorem ipsum dolor sit amet, no amet ullum est, ut vim aliquip ancillae. Est patrioque abhorreant adversarium ea, sed at fuisset fastidii vulputate, tacimates principes patrioque ne mel. Nec nostro accusamus an, ius aperiam alterum sadipscing et, at sit quis tollit voluptua. Pri tantas tacimates scripserit ne, est in fuisset verterem complectitur, eos ad sonet torquatos. No per aperiri dignissim, id porro salutandi maiestatis vel. Duo no labitur intellegam, no nulla iriure alienum qui. Dictas delenit iudicabit qui at, et eos affert prodesset scribentur.</p>
</div>

<div class="span--4">
	<h3> &lt;pre&gt; </h3>
	<p>Lorem ipsum dolor sit amet, no amet ullum est, ut vim aliquip ancillae. Est patrioque abhorreant adversarium ea, sed at fuisset fastidii vulputate, tacimates principes patrioque ne mel. Nec nostro accusamus an, ius aperiam alterum sadipscing et, at sit quis tollit voluptua. Pri tantas tacimates scripserit ne, est in fuisset verterem complectitur, eos ad sonet torquatos. No per aperiri dignissim, id porro salutandi maiestatis vel. Duo no labitur intellegam, no nulla iriure alienum qui. Dictas delenit iudicabit qui at, et eos affert prodesset scribentur.</p>
</div>



