/*********************************************************************************************
	
	Component:
		Buttons



*********************************************************************************************/
@import "../variables";
@import "../effects/ripple";

.button {
	box-sizing: border-box;
	padding: $margin--small $margin--horizontal;
	background-color: $color-brand;
	display: inline-block;
	color: #fff;
	border-radius: 2px;
	cursor: pointer;

	@extend .ripple;

	&:hover {
		background-color: lighten($color-brand, 5%);
		border-bottom: none;
	}
}

.button--tool-bar {
	margin-top: -4px;
	padding: $margin--x-small $margin--small;
	margin-bottom: 0;
	line-height: 1.2;
	height: 28px;
	
}

.button--stack.button--secondary,
.button--secondary {
	background-color: $color-green;
	color: #fff;

	&:hover {
		background-color: lighten($color-green, 5%)
	}
}

.button--compact {
	padding: $margin--vertical / 2 $margin--horizontal;
}

.button--stack {
	background-color: transparent;
	color: #444;
	border-top: 1px solid #fff;
	border-radius: 0;
	display: block;	
	margin-bottom: 0;

	&:hover {
		background-color: $color-light-gray;
	}
}

.button--download:after {
		content: '\f019';
		font: normal normal normal 14px/1 FontAwesome;
		margin-left: 10px;
}

.button[rel="external"]:after {
	content: '\f08e';
	font: normal normal normal 14px/1 FontAwesome;
	margin-left: 10px;
}


.button--disabled {
	background-color: $color-dark-gray;
	color: $color-light-gray;
	cursor: not-allowed;

	.ink {
		display: none;
	}

	&:hover {
		background-color: $color-dark-gray;
		color: $color-light-gray;
	}
}

.button--stack.button--disabled {
	background-color: transparent;
	color: $color-light-gray;
	text-decoration: line-through;

	&:hover {
		background-color: transparent;
		color: $color-light-gray;
		text-decoration: line-through;		
	}
}

.pagination{
	width: 268px;
	margin-left: auto;
	margin-right: auto;
}
.pagination a:first-child,
.pagination a:last-child {
	padding: 12px;
}

.pagination a {
	padding: 9px 12px;
}

.pagination .pagination__current {
	padding: 7px 12px;
	box-sizing: border-box;
	background-color: #fff;
	border: 2px solid $color-brand;
	color: $color-brand;
}