@import "../variables";

/*****************************************************************************************
  Component:
    Grid

   Description:


   Usage:


******************************************************************************************/
*{
 box-sizing: border-box; 
}


@for $i from 1 through $cols {

  .span--#{$i} {
      width: ($column-width * $i) + ($column-gutter * ($i - 1));
      margin-right: $column-gutter;
      margin-bottom: $margin--vertical;
      margin-top: 0;
      box-sizing: border-box;
      overflow-x: hidden;
      float: left;
  }

  .offset--#{$i} {
    margin-left: ($column-width * $i) + ($column-gutter * $i);
    box-sizing: border-box;
  }
}

.row {
  overflow: auto;
  margin-bottom: $margin--vertical;
}

.break {
  clear: left;
}

.expand {
  margin-bottom: $margin--vertical !important;
}

.expand--double {
  margin-bottom: $margin--vertical * 2 !important;
}

.collapse {
  margin-bottom: 0 !important;
}

.collapse-top {
 margin-top: 0 !important; 
}

.grid-test{
  background-color: $color-brand;
  min-height: 50px;
  
  color: $white;
  font-family: monospace;
  font-size: 12px;
  text-align: center;
  
  padding: 1.5em 0;
}
