@import "../variables";

/*************************************************************
Component: Header Box
Style: BEM
Usage:

<div class="header-box">
  <h2 class="header-box__header"> Some Header </h2>
  <div class="header-box__content"> Some Content </div>
</div>

************************************************************/

.header-box {
  margin-bottom: $margin--vertical;
  overflow-y: hidden;
}

.header-box__header {
  background-color: $color-brand;
  color: $white;
  font-size: $font-size-base;
  line-height: 1.2;
  padding: $margin--vertical/2 $margin--horizontal;
  margin: 0;
  width: 100%;
}

.header-box__header-tools {
  float: right;
}

.header-box__content {
  border: 1px solid $color-light-gray;
  border-top-width: 0;
  padding: $margin--horizontal;
  width: 100%;
}

.header-box__content--no-pad {
  padding: 0;
}