/*************************************************************************

	Input Elments

**************************************************************************/

@import "../variables";
@import "../effects/ripple";

label{
	margin-bottom: $margin--small;
	position: relative;
	display: inline-block;
}

/* IE10+ */
::-ms-clear {
  display: none;
}

/* Chrome */
::-webkit-search-decoration,
::-webkit-search-cancel-button,
::-webkit-search-results-button,
::-webkit-search-results-decoration { 
  display: none; 
}

.checkbox--stacked.checkbox {
	margin-top: 0;
	display: block;
	float: none;
	clear: both;
}

/****************

	Check boxes

****************/

input[type="checkbox"] {
	visibility: hidden;
	display: none;
	height: 0;
	width: 0;
}

input[type="checkbox"] + .checkbox {
	margin-left: 22px;
	padding-left: 0;
	position: relative;
	z-index: 250;
}

input[type="checkbox"] + .checkbox:before {
	box-sizing: border-box;
	content: ' ';
	position: absolute;
	top: 0;
	left: -20px;
	display: block;
	width: 16px;
	height: 16px;
	border: 2px solid $color-light-gray;
	border-radius: 2px;
	transition: background-color 75ms linear;
    font: normal normal normal 12px/1 FontAwesome;
	color: #fff;
	z-index: 250;
}

input[type="checkbox"]:checked + .checkbox:before {
	content: '\f00c';
	border-color: $color-brand;
	background-color: $color-brand;
	text-align: center;
}

/**************

	Radio

**************/

.radio--stacked.radio {
	margin-top: 0;
	display: block;
	float: none;
	clear: both;
}

input[type="radio"] {
	@extend .ripple;
	display: none;
	visibility: hidden;
}

input[type="radio"] + .radio {
	margin-left: 22px;
	position: relative;
	z-index: 250;
}

input[type="radio"] + .radio:before {
	box-sizing: border-box;
	content: ' ';
	position: absolute;
	top: 0;
	left: -20px;
	display: block;
	width: 16px;
	height: 16px;
	border: 2px solid $color-light-gray;
	border-radius: 50%;
	transition: background-color 175ms linear, border-width 75ms linear;
	color: #fff;
	z-index: 250;
}

input[type="radio"]:checked + .radio:before {
	content: '\f00c';
	border-color: $color-brand;
	background-color: $color-brand;
	font: normal normal normal 12px/1 FontAwesome;
}

/****************

	Input Text

****************/

input[type="text"]:focus {
	outline: none;
	border-color: $color-brand;
}

input[type="text"] {
	width: 100%;
	border: 2px solid $color-light-gray;
	border-radius: 2px;
	padding: 5px 8px;
	font-size: $font-size-base;
	color: $color-brand-dark-gray;
	transition: border-color 275ms linear;
	position: relative;
}

.text--valid:before,
.text--invalid:before,
.text--validating:before {
	content: '';
	position: absolute;
	font: normal normal normal 16px/1 FontAwesome;
	bottom: 8px;
	right: 8px;
	z-index: 600;
}

.text--valid:before {
	content: '\f00c';
	color: $color-green;
}

.text--invalid:before {
	content: '\f00d';
	color: $color-brand-red;
}

.text--validating:before {
	content: '\f110';
	color: $color-brand-yellow;
	animation: spin 1s infinite steps(8);
}

.text--valid input[type="text"] {
	border-color: $color-green;
}

.text--invalid input[type="text"] {
	border-color: $color-brand-red;
}

/****************

	TextArea

****************/

textarea {
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	resize: vertical;
	border: 2px solid $color-light-gray;
	border-radius: 2px;
	padding: 5px 8px;
	font-size: $font-size-base;
	color: $color-brand-dark-gray;
	transition: border-color 275ms linear;
	margin-bottom: $margin--vertical;
}

textarea:focus {
	outline: none;
	border-color: $color-brand;
}


/******************

	Toggle

******************/


input[type="checkbox"] + .toggle-input {
	padding-left: 45px;
	position: relative;
	margin-bottom: $margin--vertical + 2px;
	display: inline-block;
}

input[type="checkbox"] + .toggle-input:before {
	content: '';
	position: absolute;
	border: 2px solid $color-light-gray;
	border-radius: 20px;
	display: block;
	width: 35px;
	height: 20px;
	left: -75px;
	top: -2px;
	left: 2px;
	transition: border-color 275ms linear;
}

input[type="checkbox"] + .toggle-input:after {
	content: '\f00d';
	box-sizing: border-box;
	width: 18px;
	height: 18px;
	background-color: $color-light-gray;
	position: absolute;
	top: 1px;
	left: 6px;
	padding: 2.5px;
	border-radius: 50%;
	transition: background-color 375ms linear, left 175ms linear, transform 175ms linear ;
	color: #fff;
	font: normal normal normal 12px/1 FontAwesome;
	text-align: center;
	transform: rotate(-90deg);
}

input[type="checkbox"]:checked + .toggle-input:before {
	border-color: $color-brand;
}

input[type="checkbox"]:checked + .toggle-input:after {
	left: 19px;
	background-color: $color-brand;
	content: '\f00c';
	transform: rotate(0deg);
}


input[type="checkbox"] + .toggle--right {
	padding-left: 0;
	padding-right: 44px;
}

input[type="checkbox"] + .toggle-input.toggle--right:before {
	left: calc(100% - 40px);
}

input[type="checkbox"] + .toggle-input.toggle--right:after {
	left: calc(100% - 36px);
}

input[type="checkbox"]:checked + .toggle-input.toggle--right:after {
	left: calc(100% - 23px);
}

/***********************

	Range Slider

***********************/

// resets
input[type="range"] {
	box-sizing: border-box;
	-webkit-appearance: none;
	width: 100%;
	background: transparent;
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
}

input[type="range"]:focus {
	outline: none;
}

input[type="range"]::-ms-track {
	width: 100%;
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	color: transparent;
}
// end resets

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	border: 1px solid $color-brand;
	height: 16px;
	width: 16px;
	border-radius: 8px;
	background: $color-brand;
	cursor: pointer;
	margin-top: -9px;
}

input[type="range"]::-moz-range-thumb {
	outline: none;
	border: 1px solid $color-brand;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: $color-brand;
	cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
	border-top: 2px solid $color-brand;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
	border-top: 2px solid $color-brand;
}

input[type="range"]::-moz-range-track,
input[type="range"]::-moz-range-track:focus {
	outline: none;
	box-sizing: border-box;
	border: 1px solid $color-brand;
	background: $color-brand;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: $color-brand-dark;
  border: 1.4px solid $color-brand;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
}

input[type=range]::-ms-fill-upper {
  background: $color-brand;
  border: 1.4px solid $color-brand;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
}

input[type=range]::-ms-thumb {
	box-sizing: border-box;
	border: 2px solid #fff;
	height: 4px;
	width: 4px;
	border-radius: 50%;
	background: #fff;
	cursor: pointer;
	height: 2px;
}

input[type=range]:focus::-ms-fill-lower {
  background: $color-brand-dark;
}

input[type=range]:focus::-ms-fill-upper {
  background: $color-brand;
}
