/*****************************************************************
	Component: 
		Tab Group

	Usage: 
		<div data-component="tab-group" class="tabs">
	
			<div class="tab-group__tab" data-target=".tab-1">Tab 1</div>
			<div class="tab-group__tab" data-target=".tab-2">Tab 2</div>
			
			<div class="tab-group__content-container">
				<div class="tab-group__content tab-1">
					<h4>Tab 1 Content</h4>
				</div>

				<div class="tab-group__content tab-2">
					<h4>Tab 2 Content</h4>
				</div>
			</div>
		</div>

*******************************************************************/
@import "../variables";
@import "../effects/ripple";

.tab-group {
	position: relative;
	overflow: auto;
	border: 1px solid $color-light-gray;
	transition: height 375ms linear;
}

.tab-group__tabs {
	background-color: $color-brand;
	overflow: auto;
	position: relative;	
}

.tab-group__tab-active-marker {
	position: absolute;
	bottom: 0;
	left: 0;
	min-width: 60px;
	background-color: #fff; // use a different color
	transition: left ease 375ms, width ease 375ms;

	&:after {
		content: ' ';
		bottom: 100%;
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(255, 255, 255, 0);
		border-bottom-color: #fff;
		border-width: 8px;
		margin-left: -8px;
	}
}

.tab-group__tab {
	box-sizing: border-box;
	display: inline-block;
	float: left;
	padding: 10px $margin--horizontal;
	min-width: 100px;
	margin-bottom: 0;
	color: #fff;
	text-align: center;
	line-height: 1.2;

	@extend .ripple;

	&:hover {
		border-bottom: none;
	}
}

.tab-group__content-container {
	border-top: 2px solid $color-brand;
	clear: both;
	width: 100%;
	padding: 0;
	margin: 0;
}

.tab-group__content {
	padding: $margin--vertical*2 $margin--horizontal;
	display: none;
	max-height: 0;
	transition: max-height 1s linear;
}

.tab-group__content--active {
	display: block;
	max-height: 2000px;
}