/*************************************************************

    Typography

    This file contains all of the defaul font styles


*************************************************************/

@import '../variables';

html, body, p, h1, h2, h3, h4, h5, h6, label {
    font-family: $font-family-sans-serif;
}

.pre {
	padding-top: 0;
}

code,
.code {
	background-color: #e4e4e4;
	padding: 0 5px;
	border-radius: 3px;
	font-family: monospace;
	font-size: 16px;	
}